*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body {
    font-family: sans-serif;
    font-family: sans-serif;
}
.menu_bar {
  background-color: rgb(100, 11, 233);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0%;
}
.logo {
  color: white;font-size: 30px;
}
.logo span {
  color: none;
}
.menu_bar ul {
    list-style: none;
    display: flex;
  }
  .menu_bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  .menu_bar ul li a {
    color: rgb(232, 227, 225);
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
  }
  .menu_bar ul li a:hover {
    color: rgb(227, 19, 19);
  }
  .form-row
      {
        height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0  5%;
        background-color: rgb(30, 55, 199);
      }